.section__center {
  margin: 0 auto;
  max-width: 1024px;
}

.u--margin-t-small {
  margin-top: 0.75rem;
}

.u--margin-t-medium {
  margin-top: 1.25rem;
}

.u--margin-t-large {
  margin-top: 2rem;
}

.u--margin-t-huge {
  margin-top: 5rem;
}

.u--margin-b-small {
  margin-bottom: 0.75rem;
}

.u--margin-b-medium {
  margin-bottom: 1.25rem;
}

.u--margin-b-large {
  margin-bottom: 2rem;
}

.u--margin-b-huge {
  margin-bottom: 5rem;
}
